.header__lang-link{
  font-size: 1.5em;
  line-height: 1.75rem;
  color: #fff;
  text-decoration: none;
  margin: 0 0 0 18px;
}

.header__lang-link:hover{
  opacity: 50%;
  transition: 0.4s;
}

@media screen and (max-width: 767px) {
  .header__lang-link{
  font-size: 1.125em;
  line-height: 1.25rem;
  }
}
