.cover__subtitle{
  font-size: 1.125em;
  line-height: 1.375rem;
  max-width: 28.125vw;
  min-width: 360px;
  text-align: center;
  margin: 32px auto 0;
}
@media screen and (max-width: 767px) {
  .cover__subtitle{
    font-size: 0.875em;
    line-height: 1rem;
    min-width: 288px;
    margin-top: 16px;
  }
}
