.lead__subtitle{
  margin: 32px auto 0;
  width: 640px;
  height: 72px;
  font-size: 1.875em;
  line-height: 2.25rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__subtitle{
    width: 288px;
    height: 40px;
    font-size: 1em;
    line-height: 1.25rem;
    margin-top: 16px;
  }
}
