.cover{
  margin: 92px auto 0;
  max-width: 1280px;
  background-image: url("../../image/__background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 57.05vw;
  max-height: 740px;
  height: 1px;
}

@media screen and (max-width: 1279px) {
  .cover{
    max-width: 100vw;
    min-height: 61.5vw;
    max-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover{
    margin: 92px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .cover{
    margin: 66px 0 0;
  }
}
