.place{
  display: grid;
  grid-template-columns: 460px 1fr;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
  "title website"
  "image paragraph";
  margin-top: 80px;
}

@media screen and (max-width: 1279px) {
  .place{
    grid-template-columns: minmax(440px, min-content)  1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place{
    grid-template-columns: minmax(340px, min-content)  1fr;
    column-gap: 28px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place{
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: minmax(35px, min-content)  minmax(46px, min-content)  minmax(320px, min-content) min-content;
    column-gap: 0px;
    margin: 50px auto 0;
    row-gap: 32px;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";

  }
}
