.header__block-lang{
  margin-top: 18px;
  width: 74px;
  display: flex;
  justify-content: space-between;
}

@media  screen and (max-width: 767px) {
  .header__block-lang{
  margin-top: 14px;
  width: 60px;
  }
}
