.header__block-lang{
  margin-top: 18px;
  height: 28px;
  width: 74px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__lang-link{
  margin-top: 14px;
  height: 20px;
  width: 62px;
  }
}
